/*
    Truck Hire System (T) Ltd 
    Custom stylesheet
    Developed by Navilindo AM
*/

/* custom colors */

:root {
    --ths-darkblue: #232323;
    --ths-yellow: #e1bc25;
    --ths-red: #ef1d26;
}

/* body */
body, html {
    /* font-family: 'Poppins', sans-serif !important; */
    font-family: 'Kameron', serif !important;
}

/* General components */
 /* header */

/* Jumbotron */
.subTitle {
    color: var(--ths-red);
}
#homeHireBtn {
    background-color: var(--ths-red);
    color: white;
}

.section-subtitle {
    font-family: 'Playfair', serif !important;
    color: var(--ths-red);
}

/* footer */
.ft-header {
    color: var(--ths-red);
}

.copy-left {
    background-color: var(--ths-red);
    color: white;
}

/* Pages  */
/* Home */

.jumbo {
    height:100vh;
}

#homePageBtn {
    color: var(--ths-red);
    outline: 2px solid var(--ths-red);
}

.thumb {
    height: 300px;
    width: auto;
}

.pay-day {
    color: var(--ths-red);
}

.hireThumb > .btn {
    background-color: var(--ths-red);
    color: white;
}

/* Register page */
#registerBtn {
    background-color: var(--ths-red);
    color: white;
}

/* Login page */
#loginBtn {
    background-color: var(--ths-red);
    color: white;
}