/*
    Truck Hire System (T) Ltd 
    Custom stylesheet
    Developed by Navilindo AM
*/

/* custom colors */

:root {
    --golden-yellow: #fa7617;
    --pale-yellow: #f5ac52;
    --light-yellow: #fcab4f;
}

/* body */
body, html {
    font-family: 'Poppins', sans-serif !important;
}

/* General components */
 /* header */

/* Jumbotron */
.subTitle {
    color: var(--golden-yellow);
}
#homeHireBtn {
    background-color: var(--golden-yellow);
}

.section-subtitle {
    color: var(--golden-yellow);
}

/* footer */
.ft-header {
    color: var(--golden-yellow);
}

.copy-left {
    background-color: var(--golden-yellow);
    color: white;
}

/* Pages  */
/* Home */
.thumb {
    height: 300px;
    width: auto;
}

.pay-day {
    color: var(--golden-yellow);
}

.hireThumb > .btn {
    background-color: var(--golden-yellow);
    color: white;
}